

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  html {
    overflow-x: hidden;
  }
  .body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-width: 400px;
  }
  [id='search-btn'] {
    position: absolute;
    left: -100vw;
  }
  [id='search-btn'] ~ * {
    --i: var(--pos, 1);
    --j: calc(1 - var(--i));
  }
  [id='search-btn']:checked ~ * {
    --pos: 0;
  }
  [for='search-btn'] {
    order: 1;
    overflow: hidden;
    position: relative;
    z-index: 2;
    margin-left: -1.25em;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    transform: translate(var(--pos, -10em)) rotate(45deg);
    background: hsl(calc(336 - var(--i)*269), calc(77% + var(--i)*2%), calc(49% + var(--i)*13%));
    text-indent: -100vw;
    transition: 0.65s ease-out;
    cursor: pointer;
  }
  [for='search-btn']:before, [for='search-btn']:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.8125em;
    width: 1.625em;
    height: 1.625em;
    transition: inherit;
    content: '';
  }
  [for='search-btn']:before {
    margin-top: -0.08125em;
    height: 0.203125em;
    transform-origin: 100% 0;
    transform: translate(var(--pos, 0.40625em)) scalex(calc(1 - var(--i)*.5));
    background: currentcolor;
  }
  [for='search-btn']:after {
    border: solid 0.203125em currentcolor;
    border-radius: calc(var(--i)*50%);
    transform: translate(var(--pos, -0.40625em)) scalex(calc(var(--j)*0.125 + var(--i)));
    box-shadow: inset 0 0 0 calc(var(--j)*0.8125em) currentcolor;
    transition-property: border-radius, transform, box-shadow;
    transition-timing-function: cubic-bezier(calc(var(--j)*.42), 0, calc(1 - var(--i)*.42), 1), cubic-bezier(calc(var(--i)*.42), 0, calc(1 - var(--j)*.42), 1);
  }
  [id='search-bar'] {
    margin-right: -1.25em;
    border: none;
    padding: 0 1em;
    width: 26em;
    height: 5em;
    border-radius: 3.25em;
    transform: translate(var(--pos, 10em));
    background:linear-gradient(135deg,rgb(400, 72, 50,.9) 10%,rgb(241, 171, 40)
    100%);
    --cp: inset(-2em var(--pos, 100%) -2em -2em);
    -webkit-clip-path: var(--cp);
    clip-path: var(--cp);
    color:ghostwhite;
    font: 1.2em century gothic, verdana, arial, sans-serif;
    transition: 0.65s;
  }
  [id='search-bar']::placeholder {
    opacity: 0.5;
    color: inherit;
    font-size: 0.875em;
    letter-spacing: 1px;
    text-shadow: 0 0 1px, 0 0 2px;
  }
  [id='search-bar']:focus {
    outline: none;
    box-shadow: 0 0 1.5em #ffeacc, 0 1.25em 1.5em rgba(0, 0, 0, 0.2);
    background:linear-gradient(135deg,purple 10%,plum
    100%);
    color:ghostwhite;
  }
  

html{
    font-family: 'Nunito',sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    font-size:15px;
}

section{
    padding: 5rem 0;
}

header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}
.container{
    width: 100%;
    max-width: 98rem;
    margin:0 auto;
    padding: 0 1.5rem;
}
nav{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px o;
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.nav-brand{
    width: 5rem;
    height: 5rem;
}
.nav-brand h1{
    font-family: 'google';
    font-size: 30px;
    color: ghostwhite;
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.menu-icons i{
    font-size: 30px;
    color: ghostwhite;
    cursor: pointer;
}
.close i{
    color: whitesmoke;
}
.nav-list{
    width: 20rem;
    height: 40vh;
    background-color:rgb(238, 90, 90);
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
    border-radius: 10px;
}
.close{
    position :absolute;
    top: 10px;
    left: 15px;
}
.nav-list.active{
    right: 0;

}
.nav-item{
    margin: 15px 0;
}
.nav-list{
    font-size: 20px;
    text-transform:capitalize;
    font-family:'Aldrich',sans-serif;
    color: lightslategray;
}
.nav-list a{
    color:white
}
.section{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg,rgb(400, 72, 50,.9) 10%,rgb(241, 171, 40)
    100%);
    background-size: cover;
    position: relative;
}
.section::before{
    content: "";
    position: absolute;
    left: 0;
    bottom:-3px;
    width: 100%;
    height: 4.8rem;
    background: url("images/wave-small.png") center no-repeat;
    background-size: cover;
}
.main-message{
    max-width: 100%;
    max-width: 56rem;
    color: white;
    text-transform: uppercase;
    transform: translateY(20%);
    font-size: 15px;
}
.main-message h3{
    font-size: 20px;
    font-style: oblique;
    line-height: 30px;
}
.main-message h1{
    font-family: 'aldrich' sans-serif;
    margin: 1rem 0;
    font-size: 4rem;
}
.main-message p{
    text-transform: uppercase;
    font-family: 'aldrich';
}
.btn{
    background-color: pink;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: transform 100ms ease-in-out;
    cursor: pointer;
}
.btn:hover{
    background-color: plum;
}
.experience-outdoors{
    padding: 0px;
}
.title-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom:40px ;
}
.title-heading h3{
    font-size: 15px;
}
.title-heading h1{
    font-family: 'Aldrich',sans-serif;
    font-size: 20px;
    margin: .5rem 0 1rem;
}
.activities-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap:2.5rem;
}
.activities-grid-item{
    height: 36rem;
    padding: 5rem;
    position: relative;
    display: flex;
    color:black;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1500;
    border: plum 1px solid;
    border-radius: 20px;
}

.activities-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
}
.activities-grid-item i{
    font-size: 4rem;
    color: white;
}
.activities-grid-item h1{
    font-family:'Aldrich',sans-serif;
    font-size: 18px;
    text-transform:uppercase;
    margin: 1.6rem 0;
}
.created{
    width: 100%;
    height: 80vh;
    color: black;
    text-transform: uppercase;
    background:linear-gradient(135deg,rgb(400, 72, 50,.9) 10%,rgb(241, 171, 40)
    100%);
    background-size: cover;
    position: relative;
    
}
.created::before{
    content: "";
    position: absolute;
    top: -3px;
    left:0;
    width: 100%;
    height: 4.8em;
    background: url("images/wave-small-reversed.png") center no-repeat;
    background-size: cover;
}
.create{
    width: 100%;
    color: white;
    top: 55%;
    left: 50%;
    transform: translate(50% 50%);
    text-align: center;
}
.created-message{
    padding: 0 1.5rem;
    padding-top: 5rem
}
.image img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 5px solid pink;
}
.start-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap:2.5rem;
    margin-bottom:2rem;
}
footer{
    padding:25px  0;
    text-align: center;
    font-family: 'Aldrich',sans-serif;
}


@media screen and (min-width:350px){
    .main-message{
        transform: translateY(40%);
    }
    

}
@media screen and (min-width:470px){
    .section::before{
        height: 9.4rem;
        background: url("images/wave-medium.png") center no-repeat;
        background-size: cover;
    }
    .created::before{
        height: 9.4rem;
        background: url("images/wave-medium-reversed.png") center no-repeat;
        background-size: cover;
    }
    .create{
        transform: translateY(20%);
    }
}

@media screen and (min-width:700px){
    header{
        height: 7rem;
    }
    .nav-brand{
        width: 4rem;
    }
    .nav-list{
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }
    .menu-icons{
        display: none;
    }
    .nav-item{
        margin:0 2.5rem;
    }
    .nav-link{
        color: white;
        position: relative;
        font-size: 1.5rem;
    }
    .current{
        
    }
    .nav-link::before,
    .current::before{
        content: "";
        position: absolute;
        bottom: -.5rem;
        background-color: purple;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition:transform 650ms;
    }
   
    .section{
        height: 65vh;
    }
    .title-heading h1{
        font-size: 2.5rem;
    }
    .create{
        transform: translateY(30%);
    }
}
@media screen and (min-width:950px){
    .section::before{
        height: 22.7rem;
        background: url("images/wave-large.png");
        background-size: cover;
    }
    .created::before{
        height: 22.7rem;
        background: url("images/wave-large-reversed.png");
        background-size: cover;
    }
    
    .create{
        transform: translateY(50%);
    }
}
@media screen and (min-width:1200px){
    .section{
        height: 75vh;
    }

}